# Node
node_modules/
npm-debug.log
yarn-debug.log*
yarn-error.log*
.pnpm-store/

# Tauri / Rust
src-tauri/target/
src-tauri/gen/
src-tauri/WixTools/

# macOS
.DS_Store

# IDE
.vscode/
.idea/
*.swp

# Distribution outputs
dist/
build/
